
@font-face {
  font-family: 'Overlock-bold';
  src: local('Overlock-local'), url(./fonts/Overlock-Bold.ttf) format('truetype');}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
        animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.brand-img {
  z-Index: 2;
  opacity: .9;
  max-width: 40%;
  max-height: 40%;
  text-align: center;
  position: absolute; 
  margin-bottom: 8%;
}

.slogan {
  margin-top: 15% !important;
  text-align: center;
  position: absolute; 
  color: white;
  z-index: 2;
  font-family: Overlock-bold, sans-serif;
  font-size: 2vw;
  color: 0xFFFF;
}

.bkgrnd {
  width: 100%;
  z-Index: 1;
  top: 0;
  left: 0;

}

.parent-bg {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}

.button-bar{
  margin-top: 0px;
  /* position: absolute;  */
  z-index: 4;
  color: #00EAFA;
}

.btn-custom{
  text-align: center;
  position: absolute; 
  align-self: top;
  z-index: 4;
  background-color: #00EAFA;
  color: white;
}

.btn-circle span {
  margin: 0 -2rem;
}

.btn-circle {
  font-family: Overlock-bold, sans-serif;
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #00EAFA;
  color: white;
  border-color: #00EAFA;
}


.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: inherit;
  float: top;
  padding-bottom: 50%;
}


.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.nav a {
  margin-top: 0px;
  z-index: 4;
  color: #00EAFA; 
}

.banners img {
  display: block;
}

.square {
  border: solid 2px;
  border-color: rgb(203, 199, 200, 0.8);
  width: 45%;
  height: 65%;
  /* background: #CBC7C8; */
  position: absolute; 
  z-index: 4;
  /* opacity: .8; */
  background-color: rgb(203, 199, 200, 0.8);
}

.features-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 10px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-item {
  grid-row-gap: 50px;
  /* padding: 20px; */
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item p {
  text-align: center;
  color: black;
  font-size: 1vw;
  font-family: Overlock, sans-serif;
  max-width: 140px;
}

.grid-item h3 {
  text-align: center;
  color: white;
  font-family: Overlock-bold, sans-serif;
  font-size: 3vw;
  z-index: 5;
}